<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CurrentSet</key>
	<string>/Sets/2193F113-DC62-4C90-9849-9BAEC65CE639</string>
	<key>Model</key>
	<string>MacBookPro5,5</string>
	<key>NetworkServices</key>
	<dict>
		<key>7AE7E1DF-D800-4F3D-BB34-43360AAC58DB</key>
		<dict>
			<key>DNS</key>
			<dict/>
			<key>IPv4</key>
			<dict>
				<key>ConfigMethod</key>
				<string>DHCP</string>
			</dict>
			<key>IPv6</key>
			<dict>
				<key>ConfigMethod</key>
				<string>Automatic</string>
			</dict>
			<key>Interface</key>
			<dict>
				<key>DeviceName</key>
				<string>fw0</string>
				<key>Hardware</key>
				<string>FireWire</string>
				<key>Type</key>
				<string>FireWire</string>
				<key>UserDefinedName</key>
				<string>FireWire</string>
			</dict>
			<key>Proxies</key>
			<dict>
				<key>ExceptionsList</key>
				<array>
					<string>*.local</string>
					<string>169.254/16</string>
				</array>
				<key>FTPPassive</key>
				<integer>1</integer>
			</dict>
			<key>SMB</key>
			<dict/>
			<key>UserDefinedName</key>
			<string>FireWire</string>
		</dict>
		<key>80270E4F-7393-481E-94B9-2C88CC9EBBE3</key>
		<dict>
			<key>DNS</key>
			<dict/>
			<key>IPv4</key>
			<dict>
				<key>ConfigMethod</key>
				<string>PPP</string>
			</dict>
			<key>IPv6</key>
			<dict>
				<key>ConfigMethod</key>
				<string>Automatic</string>
			</dict>
			<key>Interface</key>
			<dict>
				<key>DeviceName</key>
				<string>Bluetooth-Modem</string>
				<key>Hardware</key>
				<string>Modem</string>
				<key>SubType</key>
				<string>PPPSerial</string>
				<key>Type</key>
				<string>PPP</string>
				<key>UserDefinedName</key>
				<string>Bluetooth DUN</string>
			</dict>
			<key>Modem</key>
			<dict>
				<key>ConnectionPersonality</key>
				<string>Default Personality</string>
				<key>ConnectionScript</key>
				<string>/Library/Modem Scripts/Generic Dialup.ccl</string>
				<key>DataCompression</key>
				<integer>1</integer>
				<key>DeviceModel</key>
				<string>Dialup Device</string>
				<key>DeviceVendor</key>
				<string>Generic</string>
				<key>DialMode</key>
				<string>WaitForDialTone</string>
				<key>ErrorCorrection</key>
				<integer>1</integer>
				<key>PulseDial</key>
				<integer>0</integer>
				<key>Speaker</key>
				<integer>1</integer>
			</dict>
			<key>PPP</key>
			<dict>
				<key>ACSPEnabled</key>
				<integer>0</integer>
				<key>CommDisplayTerminalWindow</key>
				<integer>0</integer>
				<key>CommRedialCount</key>
				<integer>1</integer>
				<key>CommRedialEnabled</key>
				<integer>1</integer>
				<key>CommRedialInterval</key>
				<integer>5</integer>
				<key>CommUseTerminalScript</key>
				<integer>0</integer>
				<key>DialOnDemand</key>
				<integer>0</integer>
				<key>DisconnectOnFastUserSwitch</key>
				<integer>1</integer>
				<key>DisconnectOnIdle</key>
				<integer>1</integer>
				<key>DisconnectOnIdleTimer</key>
				<integer>600</integer>
				<key>DisconnectOnLogout</key>
				<integer>1</integer>
				<key>DisconnectOnSleep</key>
				<integer>1</integer>
				<key>IPCPCompressionVJ</key>
				<integer>1</integer>
				<key>IdleReminder</key>
				<integer>0</integer>
				<key>IdleReminderTimer</key>
				<integer>1800</integer>
				<key>LCPEchoEnabled</key>
				<integer>0</integer>
				<key>LCPEchoFailure</key>
				<integer>4</integer>
				<key>LCPEchoInterval</key>
				<integer>10</integer>
				<key>Logfile</key>
				<string>/var/log/ppp.log</string>
				<key>VerboseLogging</key>
				<integer>0</integer>
			</dict>
			<key>Proxies</key>
			<dict>
				<key>FTPPassive</key>
				<integer>1</integer>
			</dict>
			<key>SMB</key>
			<dict/>
			<key>UserDefinedName</key>
			<string>Bluetooth DUN</string>
		</dict>
		<key>E140389F-3CF8-4B9B-AF8C-DFEAE33D6277</key>
		<dict>
			<key>DNS</key>
			<dict/>
			<key>IPv4</key>
			<dict>
				<key>ConfigMethod</key>
				<string>DHCP</string>
			</dict>
			<key>IPv6</key>
			<dict>
				<key>ConfigMethod</key>
				<string>Automatic</string>
			</dict>
			<key>Interface</key>
			<dict>
				<key>DeviceName</key>
				<string>en1</string>
				<key>Hardware</key>
				<string>AirPort</string>
				<key>Type</key>
				<string>Ethernet</string>
				<key>UserDefinedName</key>
				<string>Wi-Fi</string>
			</dict>
			<key>Proxies</key>
			<dict>
				<key>ExceptionsList</key>
				<array>
					<string>*.local</string>
					<string>169.254/16</string>
				</array>
				<key>FTPPassive</key>
				<integer>1</integer>
			</dict>
			<key>SMB</key>
			<dict/>
			<key>UserDefinedName</key>
			<string>Wi-Fi</string>
		</dict>
		<key>E5B8D207-3C58-41D0-B6BD-3DDBA2C79477</key>
		<dict>
			<key>DNS</key>
			<dict/>
			<key>IPv4</key>
			<dict>
				<key>ConfigMethod</key>
				<string>DHCP</string>
			</dict>
			<key>IPv6</key>
			<dict>
				<key>ConfigMethod</key>
				<string>Automatic</string>
			</dict>
			<key>Interface</key>
			<dict>
				<key>DeviceName</key>
				<string>en0</string>
				<key>Hardware</key>
				<string>Ethernet</string>
				<key>Type</key>
				<string>Ethernet</string>
				<key>UserDefinedName</key>
				<string>Ethernet</string>
			</dict>
			<key>Proxies</key>
			<dict>
				<key>ExceptionsList</key>
				<array>
					<string>*.local</string>
					<string>169.254/16</string>
				</array>
				<key>FTPPassive</key>
				<integer>1</integer>
			</dict>
			<key>SMB</key>
			<dict/>
			<key>UserDefinedName</key>
			<string>Ethernet</string>
		</dict>
	</dict>
	<key>Sets</key>
	<dict>
		<key>2193F113-DC62-4C90-9849-9BAEC65CE639</key>
		<dict>
			<key>Network</key>
			<dict>
				<key>Global</key>
				<dict>
					<key>IPv4</key>
					<dict>
						<key>ServiceOrder</key>
						<array>
							<string>80270E4F-7393-481E-94B9-2C88CC9EBBE3</string>
							<string>E5B8D207-3C58-41D0-B6BD-3DDBA2C79477</string>
							<string>7AE7E1DF-D800-4F3D-BB34-43360AAC58DB</string>
							<string>E140389F-3CF8-4B9B-AF8C-DFEAE33D6277</string>
						</array>
					</dict>
				</dict>
				<key>Interface</key>
				<dict>
					<key>en1</key>
					<dict>
						<key>AirPort</key>
						<dict>
							<key>JoinModeFallback</key>
							<array>
								<string>Prompt</string>
							</array>
							<key>PowerEnabled</key>
							<true/>
							<key>RememberJoinedNetworks</key>
							<true/>
							<key>RequireAdminIBSS</key>
							<true/>
						</dict>
					</dict>
				</dict>
				<key>Service</key>
				<dict>
					<key>7AE7E1DF-D800-4F3D-BB34-43360AAC58DB</key>
					<dict>
						<key>__LINK__</key>
						<string>/NetworkServices/7AE7E1DF-D800-4F3D-BB34-43360AAC58DB</string>
					</dict>
					<key>80270E4F-7393-481E-94B9-2C88CC9EBBE3</key>
					<dict>
						<key>__LINK__</key>
						<string>/NetworkServices/80270E4F-7393-481E-94B9-2C88CC9EBBE3</string>
					</dict>
					<key>E140389F-3CF8-4B9B-AF8C-DFEAE33D6277</key>
					<dict>
						<key>__LINK__</key>
						<string>/NetworkServices/E140389F-3CF8-4B9B-AF8C-DFEAE33D6277</string>
					</dict>
					<key>E5B8D207-3C58-41D0-B6BD-3DDBA2C79477</key>
					<dict>
						<key>__LINK__</key>
						<string>/NetworkServices/E5B8D207-3C58-41D0-B6BD-3DDBA2C79477</string>
					</dict>
				</dict>
			</dict>
			<key>UserDefinedName</key>
			<string>Automatic</string>
		</dict>
	</dict>
	<key>System</key>
	<dict>
		<key>Network</key>
		<dict>
			<key>HostNames</key>
			<dict>
				<key>LocalHostName</key>
				<string>rcss-MacBook-Pro</string>
			</dict>
		</dict>
		<key>System</key>
		<dict>
			<key>ComputerName</key>
			<string>rcs’s MacBook Pro</string>
			<key>ComputerNameEncoding</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>VirtualNetworkInterfaces</key>
	<dict>
		<key>Bond</key>
		<dict/>
		<key>VLAN</key>
		<dict/>
	</dict>
</dict>
</plist>
